*{
    box-sizing:border-box;
}
.gray-box{
    background:gray;
    width:64px;
    height:64px;
}

@media all and (max-width:420px){    
    .createuser_wrap input{
        width:100%;
    }
    .userlist_wrap button,
    .createuser_wrap button{
        width:100%;
        margin:5px 0 20px;
    }    
}