@charset "UTF-8";
*{
    box-sizing:border-box;
    /* font-family: 'Do Hyeon', sans-serif; */
    font-family: 'Orbitron', 'Do Hyeon', sans-serif;
  }
  .bgm_btn button{
    position:absolute;
    top:17px;
    right:1%;
    width:50px;
    height:50px;
  }
  .bgm_btn button:nth-of-type(2){
    display:none;
  }
  header,
  .banner{
    width:100%;
    max-width:740px;
    margin:0px auto;
  }
  header{
    text-align:center;
    background-color:#fb3;
  }
  .banner{
  }
  .banner img{
    width:100%;
    background-color:rgb(208, 224, 134);
    
  }
  .banner button{
    width:100%;
    height:50px;
    margin-top:50px;
  }
  .main{
    display:none;
  }
  .bar{
    position:relative;
    width:200px;
    border:2px solid #000;
  }
  .player_info{
    background-color:#fb3;
    border:3px solid #563;
  }
  .player_info>div{
    display:flex;
    border:1px solid #fe9;
  }
  .player_info h2{
    display:table;
    height:100%;
    padding:0px 30px;
  }
  .player_info h2 span{
    display:table-cell;
    vertical-align:middle;
  }
  .player_info .stat_wrap{
    border-left:2px solid #563;
    padding:0px 15px;
  }
  .player_info .stat_wrap>div{
    display:flex;
    padding:10px 0px;
  }
  .status_box{
    margin-right:30px;
  }
  .player_HP{
    position:absolute;
    left:0px;
    width:100%;
    text-align:center;
    color:#fff;
  }
  .player_HPbar{
    width:100%;
    height:25px;
    background-color:#f00;
    transition:0.5s;  
  }
  .player_MP{
    position:absolute;
    left:0px;
    width:100%;
    text-align:center;
    color:#fff;
  }
  .player_MPbar{
    width:100%;
    height:25px;
    background-color:#00f;
    transition:0.5s;  
  }
  .player_EXP{
    position:absolute;
    left:0px;
    width:100%;
    text-align:center;
    color:#fff;  
  }
  .player_EXPbar{
    width:0%;
    height:25px;
    background-color:#ad0;
    transition:0.5s;  
  }
  .log{
    background-color:rgb(180, 137, 73);
    padding:10px;
    border:2px solid #352;
    margin-top:5px;
    height:200px;
    overflow:auto;
  }
  .motion{
    margin-top:10px;
  }
  .motion button{
    width:19%;
    height:50px;
    margin-right:1%;
    background:#ccc;
  }
  .motion button:nth-of-type(5){
    margin:0;
  }
  @media all and (max-width:1024px){
    .player_info>div{
      display:block;
    }
    .player_info .stat_wrap{
      border:0;
    }
  }
  @media all and (max-width:760px){
    .bar{
      width:100%;
    }
    .player_info h2{
      width:100%;
      text-align:center;
    }
    .status_box{
      margin:0;
    }
    .player_info .stat_wrap>div:nth-of-type(1){
      justify-content:space-between;
    }
    .player_info .stat_wrap>div:nth-of-type(2){
      display:block;
    }
  }