* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 15px;
}

section {
  margin: 100px 0px;
}

.list_layout .comment {
  width: 80%;
  margin: 0px auto;
  background-color: #35487b;
  padding: 0px 2em;
  line-height: 2em;
}

.list_layout .comment > p {
  text-align: right;
  color: #fff;
}

.list_layout .comment .wrap {
  background-color: #fff;
  padding: 10px;
}

.list_layout .comment .wrap p {
  position: relative;
  line-height: 1.5em;
}

.list_layout .comment .wrap p b {
  position: absolute;
  top: 0px;
  left: 0px;
}

.list_layout .comment .wrap p span:nth-of-type(1) {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 0px 80px 0px 60px;
}

.list_layout .comment .wrap p span:nth-of-type(2) {
  position: absolute;
  top: 0px;
  right: 0px;
}

.list_layout .comment .page {
  color: #fff;
  text-align: center;
}

.fakechat {
  background-color: #859afc;
}

.fakechat h2 {
  line-height: 2em;
}

.fakechat > div {
  background-color: #fff;
  border: 2px solid #cdcdcd;
}

.fakechat > div .chat_slide li {
  position: relative;
  line-height: 3em;
  padding-left: 20px;
}

.fakechat > div .chat_slide li .text {
  border-radius: 20px;
  padding: 0.5em 1em;
  background-color: #eee;
}

.fakechat > div .chat_slide li .status {
  background-color: #859afc;
  color: #fff;
  padding: 0px 0.8em;
}

.fakechat > div .chat_slide li:after {
  position: absolute;
  top: 0.9em;
  left: 0px;
  width: 1em;
  height: 1em;
  background-color: #859afc;
  border-radius: 50%;
  content: '';
}

.fakechat > div .chat_slide li:hover:after {
  background-color: #4b65d4;
}

.fakechat > div p {
  background-color: #35487b;
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
}
