@import url("keyframe.css");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
  background-size: 400% 400%;
  background-position: 1px 1px;
  -webkit-animation-name: gradient;
          animation-name: gradient;
  -webkit-animation-duration: 8s;
          animation-duration: 8s;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}

.flip_banner h1 {
  padding: 10px 0;
  color: #fff;
  background-color: #35228a;
}

.flip_banner div ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flip_banner div ul li {
  width: 10%;
}

.flip_banner div ul li:hover a {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip_banner div ul li a {
  display: block;
  color: #fff;
  padding: 10px 0px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
