*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    font-size:15px;
}
section{
    margin:100px 0px;
}
@mixin centerWidth ($width){
    width:$width;
    margin:0px auto;
}
.list_layout{
    .comment{
        @include centerWidth(80%);
        background-color:#35487b;
        padding:0px 2em;
        line-height:2em;
        >p{
            text-align:right;
            color:#fff;
        }
        .wrap{            
            background-color:#fff;
            padding:10px;
            p{
                position:relative;
                line-height:1.5em;        
                b{
                    position:absolute;
                    top:0px;
                    left:0px;
                }        
                span:nth-of-type(1){
                    display:block;
                    white-space:nowrap;
                    text-overflow: ellipsis;
                    overflow:hidden;
                    margin:0px 80px 0px 60px;
                }
                span:nth-of-type(2){
                    position:absolute;
                    top:0px;
                    right:0px;
                }
            }
        }
        .page{
            color:#fff;
            text-align:center;
        }
    }
}

.fakechat{
    background-color:#859afc;
    h2{
        line-height:2em;
    }
    >div{        
        background-color:#fff;
        border:2px solid #cdcdcd;
        .chat_slide{
            li{
                position:relative;
                line-height:3em;
                padding-left:20px;                
                &:after{
                    position:absolute;
                    top:0.9em;
                    left:0px;
                    width:1em;
                    height:1em;
                    background-color:#859afc;
                    border-radius:50%;
                    content:'';
                }
                &:hover:after{
                    background-color:#4b65d4 !important;
                }
                &.slick-active:after{
                        background-color:#f00;                    
                }
                &.slick-active + .slick-active:after{
                    background-color:#f80;
                }
                &.slick-active + .slick-active + .slick-active:after{
                    background-color:#ff0;
                }
                &.slick-active + .slick-active + .slick-active + .slick-active:after{
                    background-color:#0f0;
                }
                &.slick-active + .slick-active + .slick-active + .slick-active + .slick-active:after{
                    background-color:#004;
                }
                .text{
                    border-radius:20px;
                    padding:0.5em 1em;
                    background-color:#eee;
                }
                .status{
                    background-color:#859afc;
                    color:#fff;
                    padding:0px 0.8em;
                }
            }
        }
        p{
            background-color:#35487b;
            color:#fff;
            font: {
                size:1.5em;
                weight:bold;
            }
            
        }
    }
}
.stairs_layout{
    position:relative;
    height:1000px;
    background-color:#36a;  
    >div{
        position:absolute;
    }
    @for $i from 1 through 6{
        >div:nth-of-type(#{$i}){  
            top:30px * $i; 
            @if($i == 1){
                background-color:#437de5;
            }
            @if($i == 2){           
                background-color:#1e4995;
            }
        }   
    }
}